body {
    background: #ddd6f3;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
    background: linear-gradient(to right, #faaca8, #ddd6f3);
}

h1 {
    font-family: 'Playball', cursive !important;
    font-size: 80px !important;
    color: #fff !important;
    margin-top: 0px !important;
    text-shadow: 0px 3px 0px #b2a98f, 0px 4px 10px rgba(0, 0, 0, 0.15), 0px 14px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px
}

h2 {
    font-family: 'Playball', cursive !important;
    font-size: 50px !important;
    color: #999;
}

#random-number {
    background: #F282AC;
    height: 90px;
    width: 200px;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 0px auto;
    margin-bottom: 20px;
    color: #fff;
    z-index: 10;
    margin-top: 20px;
    border-radius: 25px;
}

#user-score {
    background: #F282AC;
    height: 90px;
    width: 200px;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin: 0px auto;
    z-index: 20;
    border-radius: 25px;
    padding-top: 15px;
    margin-top: 40px;
}

#container-score p {
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-family: 'Playball', cursive !important;
}

.game {
    text-align: center;
}

img#cristals {
    padding-right: 30px;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    width: 130px;
}

img#cristals:hover {
    cursor: pointer;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.win-class {
    box-shadow: 0px 0px 5px #ffc02a;
    -moz-box-shadow: 0px 0px 5px #ffc02a;
    -webkit-box-shadow: 0px 0px 5px #ffc02a;
    -webkit-animation-name: winAnimation;
    -webkit-animation-duration: 4s;
    animation-name: winAnimation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

.normal-class {
    border: none;
}

.instructions {
    width: 850px;
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 25px;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 15px solid #6e462c;
    position: relative;
    top: 40px;
    z-index: 1000;
    height: 100%;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.instructions p {
    font-size: 20px;
    text-align: left;
    color: #999;
}

#button-start {
    border: 10px solid #f48da8;
    padding: 20px;
    font-size: 40px;
    font-family: 'Playball', cursive !important;
    border-radius: 10px;
    background: #f8df68;
    margin-top: 20px;
}

#button-start:hover {
    -webkit-transition: background 2s;
    /* Safari */
    transition: background 2s;
    background: #f7d638;
}

#score {
    display: inline-block;
    float: right;
    margin-top: 10px;
    font-size: 24px;
}

#win {
    float: left;
    padding-right: 0px;
    background: #fff;
    padding: 14px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 20px;
    width: 183px;
}

#losses {
    float: left;
    padding-right: 0px;
    background: #fff;
    padding: 14px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 20px;
    width: 183px;
}

#container-score {
    font-size: 18px;
    margin-top: 40px;
}

.i_flash2 {
    box-shadow: 0 0 75px #f8e51b;

}